<!-- Page Container -->
<div *ngIf="user" class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <app-avatar *ngIf="user.avatar" [user]="user"></app-avatar>
        <div *ngIf="!user.avatar" class="w3-container">
          <h2>{{user.name}}</h2>
        </div>
        <div class="w3-container">
          <app-contact [user]="user"></app-contact>

          <div *ngIf="user.skills && user.skills.length">
            <hr>
            <div *ngFor="let category of skillCategories">
              <app-skills [title]="category.name" [icon]="category.icon" [skills]="user.skills | skillCategoryFilter:category"></app-skills>
              <br>
            </div>
          </div>
        </div>
      </div>
      <br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div *ngIf="user.jobs && user.jobs.length" class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-blue-gray"></i>Work Experience</h2>
        <div *ngFor="let job of user.jobs; let last = last;">
          <div class="w3-container">
            <app-job [job]="job"></app-job>
            <hr *ngIf="!last">
          </div>
        </div>
      </div>

      <div *ngIf="user.education && user.education.length" class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue-gray"></i>Education</h2>
        <div *ngFor="let school of user.education; let last = last;">
          <div class="w3-container">
            <app-school [school]="school"></app-school>
            <hr *ngIf="!last">
          </div>
        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

<app-footer *ngIf="user" [user]="user"></app-footer>
